.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-page h1 {
  font-size: 72px;
  color: #23979e;
  margin: 0;
}

.not-found-page p {
  font-size: 18px;
  color: #666;
}
